header {
  height: 50vh;
  background: url(../assets/AdobeStock_199274981.jpeg) center/ cover no-repeat;
}

.headerTitleContainer {
  width: 65%;
  height: 50vh;
  display: flex;
  align-items: center;
}
