body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  background-color: #dda15e;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 5rem;
  text-align: left;
  line-height: 150px;
  color: #283618;
  margin: 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
}

p {
  line-height: 30px;
}

footer {
  text-align: center;
  background-color: aliceblue;
}
